#include "resource.h"
#include <windows.h>
#include "toolbar.rc"
#include "menus.rc"
#include "dialogs.rc"

IDR_SQL_PRAGMAS RCDATA "..\\..\\..\\..\\sql\\pragmas.sql"
IDR_SQL_TABLE_CATALOG_METADATA RCDATA "..\\..\\..\\..\\sql\\tables\\catalog_metadata.sql"
IDR_SQL_TABLE_DISK_GROUPS RCDATA "..\\..\\..\\..\\sql\\tables\\disk_groups.sql"
IDR_SQL_TABLE_DISKS RCDATA "..\\..\\..\\..\\sql\\tables\\disks.sql"
IDR_SQL_TABLE_DISK_SCAN_STATISTICS RCDATA "..\\..\\..\\..\\sql\\tables\\disk_scan_statistics.sql"
IDR_SQL_TABLE_FOLDERS RCDATA "..\\..\\..\\..\\sql\\tables\\folders.sql"
IDR_SQL_TABLE_FILES RCDATA "..\\..\\..\\..\\sql\\tables\\files.sql"
IDR_SQL_INDEXES RCDATA "..\\..\\..\\..\\sql\\indexes.sql"
