IDD_GENERAL_SETTINGS DIALOGEX 0, 0, 390, 245
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_SETTINGS_TREE, "SysTreeView32", WS_BORDER | WS_TABSTOP | TVS_SHOWSELALWAYS, 8, 8, 126, 211
    CONTROL "", IDC_SETTINGS_PANEL, "Static", WS_DISABLED | WS_BORDER, 140, 8, 242, 211
    CONTROL "", IDC_SETTINGS_HEADER, "Static", WS_DISABLED, 141, 9, 240, 24
    LTEXT "General Settings", IDC_SETTINGS_HEADER_TITLE, 149, 15, 221, 10
    DEFPUSHBUTTON "OK", IDOK, 174, 224, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 229, 224, 50, 14
    PUSHBUTTON "Apply", IDC_SETTINGS_APPLY, 284, 224, 50, 14, WS_DISABLED
    PUSHBUTTON "Help", IDHELP, 339, 224, 43, 14
END

IDD_SETTINGS_GENERAL_PAGE DIALOGEX 0, 0, 240, 184
STYLE DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX "Date and time format", IDC_SETTINGS_GROUP_DATE_TIME, 11, 8, 218, 60
    LTEXT "Date and time format", IDC_SETTINGS_LABEL_DATE_TIME, 23, 21, 190, 10
    COMBOBOX IDC_DATE_TIME_FORMAT, 23, 33, 130, 82, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_DATE_TIME_FORMAT_SAMPLE, 161, 36, 60, 10
    GROUPBOX "Catalog", IDC_SETTINGS_GROUP_CATALOG, 11, 75, 218, 50
    LTEXT "Last opened catalog", IDC_SETTINGS_LABEL_LAST_CATALOG, 23, 88, 190, 10
    EDITTEXT IDC_LAST_OPENED_CATALOG, 23, 100, 196, 14, ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
    GROUPBOX "Debug", IDC_SETTINGS_GROUP_DEBUG, 11, 133, 218, 36
    CONTROL "Enable scan file delay", IDC_ENABLE_SCAN_FILE_DELAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 23, 148, 170, 12
END

IDD_SETTINGS_USER_INTERFACE_PAGE DIALOGEX 0, 0, 240, 184
STYLE DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX "Display", IDC_SETTINGS_GROUP_DISPLAY, 11, 8, 218, 72
    CONTROL "Show Status Bar", IDC_SHOW_STATUS_BAR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 23, 25, 170, 12
    CONTROL "Show Toolbar", IDC_SHOW_TOOLBAR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 23, 42, 170, 12
    CONTROL "Do not show alpha warning on startup", IDC_DO_NOT_SHOW_ALPHA_WARNING, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 23, 59, 190, 12
    GROUPBOX "Layout", IDC_SETTINGS_GROUP_LAYOUT, 11, 89, 218, 50
    LTEXT "Main splitter width", IDC_SETTINGS_LABEL_SPLITTER, 23, 102, 190, 10
    EDITTEXT IDC_MAIN_SPLITTER_POSITION, 23, 114, 70, 14, ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
END

IDD_SEARCH_ITEMS DIALOGEX 0, 0, 570, 300
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Search for Items"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "File or folder name contains:", IDC_SEARCH_LABEL_NAME, 7, 10, 125, 10
    EDITTEXT IDC_SEARCH_NAME, 135, 7, 352, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Search", IDC_SEARCH_EXECUTE, 493, 7, 70, 14
    LTEXT "Enter part of a file or folder name to search.", IDC_SEARCH_SUMMARY, 7, 29, 556, 10
    CONTROL "", IDC_SEARCH_RESULTS, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0001 | 0x1000, 7, 44, 556, 228
    PUSHBUTTON "Close", IDCANCEL, 493, 279, 70, 14
END

IDD_ADD_NEW_DISK_MEDIA DIALOGEX 0, 0, 282, 244
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add New Disk/Media"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Source:", IDC_MEDIA_LABEL_SOURCE, 6, 8, 42, 8
    COMBOBOX IDC_MEDIA_SOURCE, 54, 5, 222, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "#:", IDC_MEDIA_LABEL_NUMBER, 6, 31, 22, 8
    LTEXT "Disk name:", IDC_MEDIA_LABEL_NAME, 54, 31, 62, 8
    EDITTEXT IDC_MEDIA_NUMBER, 6, 40, 42, 12, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_MEDIA_NAME, 54, 40, 112, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Catalog:", IDC_MEDIA_LABEL_CATALOG, 171, 31, 45, 8
    COMBOBOX IDC_MEDIA_CATALOG, 171, 40, 105, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Group:", IDC_MEDIA_LABEL_GROUP, 6, 59, 42, 8
    COMBOBOX IDC_MEDIA_DISK_GROUP, 54, 56, 112, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX "Disk Image Settings", IDC_MEDIA_GROUP_DISK_IMAGE_SETTINGS, 6, 75, 270, 99
    CONTROL "Browse inside compressed files (ZIP, ARJ, RAR, 7Z...)", IDC_MEDIA_BROWSE_ARCHIVES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 87, 248, 8
    CONTROL "Do not catalog archive file contents, just check for descriptions", IDC_MEDIA_ARCHIVE_DESCRIPTIONS_ONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 99, 252, 8
    CONTROL "Skip re-scanning unchanged archive files when updating", IDC_MEDIA_SKIP_UNCHANGED_ARCHIVES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 111, 252, 8
    CONTROL "Allow importing descriptions for files compressed inside archives", IDC_MEDIA_IMPORT_ARCHIVE_DESCRIPTIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 123, 252, 8
    CONTROL "Calculate CRC codes for all scanned files", IDC_MEDIA_CALCULATE_CRC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 137, 248, 8
    CONTROL "Import existing descriptions from other disks in the catalog", IDC_MEDIA_IMPORT_EXISTING_DESCRIPTIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 149, 260, 8
    CONTROL "Ask for media description when scanning completes", IDC_MEDIA_ASK_DESCRIPTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 161, 248, 8
    CONTROL "Eject media when finished (if supported by drive)", IDC_MEDIA_EJECT_WHEN_FINISHED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 178, 260, 8
    CONTROL "Auto-save the catalog after each completed scanning", IDC_MEDIA_AUTO_SAVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 190, 260, 8
    CONTROL "Re-display this dialog when scanning is complete", IDC_MEDIA_REDISPLAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 202, 260, 8
    PUSHBUTTON "Settings", IDC_MEDIA_SETTINGS, 6, 215, 48, 14, WS_DISABLED | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 111, 215, 42, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 159, 215, 48, 14, WS_TABSTOP
    PUSHBUTTON "Troubleshooting", IDC_MEDIA_TROUBLESHOOTING, 213, 215, 63, 14, WS_DISABLED | WS_TABSTOP
    LTEXT "No drive selected", IDC_MEDIA_STATUS, 6, 233, 270, 8
END

IDD_SCAN_PROGRESS DIALOGEX 0, 0, 196, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Scanning Disk/Media"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Scanning files and folders...", IDC_SCAN_STATUS, 10, 10, 176, 10
    LTEXT "Files scanned:", IDC_SCAN_LABEL_FILES, 10, 28, 70, 10
    LTEXT "0", IDC_SCAN_FILES, 93, 28, 90, 10
    LTEXT "Files remaining:", IDC_SCAN_LABEL_REMAINING, 10, 44, 70, 10
    LTEXT "-", IDC_SCAN_REMAINING, 93, 44, 90, 10
    LTEXT "Folders scanned:", IDC_SCAN_LABEL_FOLDERS, 10, 60, 70, 10
    LTEXT "0", IDC_SCAN_FOLDERS, 93, 60, 90, 10
    PUSHBUTTON "Cancel", IDCANCEL, 136, 79, 50, 14, WS_TABSTOP
END

IDD_DISK_GROUP DIALOGEX 0, 0, 250, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add New Disk Group"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Name:", IDC_DISK_GROUP_LABEL_NAME, 7, 10, 40, 10
    EDITTEXT IDC_DISK_GROUP_NAME, 48, 7, 195, 14, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 137, 49, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 193, 49, 50, 14
END

IDD_MOVE_DISK_TO_GROUP DIALOGEX 0, 0, 250, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Move to Group"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Group:", IDC_MOVE_DISK_LABEL_GROUP, 7, 10, 40, 10
    COMBOBOX IDC_MOVE_DISK_GROUP, 48, 7, 195, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Move", IDOK, 137, 49, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 193, 49, 50, 14
END

IDD_ABOUT DIALOGEX 0, 0, 264, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Where Is That?"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_ABOUT_TABS, "SysTabControl32", WS_TABSTOP, 7, 7, 250, 132
    LTEXT "", IDC_ABOUT_PAGE_INFO, 14, 27, 236, 98
    ICON "", IDC_ABOUT_ICON, 19, 38, 48, 48, SS_CENTERIMAGE
    LTEXT "Where Is That?", IDC_ABOUT_TITLE, 76, 38, 166, 10
    LTEXT "\xA9 2026 Andrii Shevchenko <nfxpnk@gmail.com>", IDC_ABOUT_COPYRIGHT, 76, 50, 166, 10
    LTEXT "Version:", IDC_ABOUT_VERSION, 76, 66, 120, 10
    LTEXT "Links:", IDC_ABOUT_LINK_LABEL, 76, 84, 30, 10
    CONTROL "<a>https://nfxpnk.github.io/whereisthat</a>", IDC_ABOUT_LINK, "SysLink", WS_TABSTOP, 76, 95, 160, 12
    CONTROL "<a>https://github.com/nfxpnk/whereisthat</a>", IDC_ABOUT_REPOSITORY_LINK, "SysLink", WS_TABSTOP, 76, 107, 160, 12
    LTEXT "", IDC_ABOUT_PAGE_LICENSE, 14, 27, 236, 98
    DEFPUSHBUTTON "Close", IDOK, 207, 150, 50, 14
END

