IDI_APPICON ICON "icons\\app.ico"
IDB_TOOLBAR_NEW_CATALOG RCDATA "icons\\fugue\\toolbar\\new-catalog.png"
IDB_TOOLBAR_OPEN RCDATA "icons\\fugue\\toolbar\\open-catalog.png"
IDB_TOOLBAR_SAVE RCDATA "icons\\fugue\\toolbar\\save-catalog.png"
IDB_TOOLBAR_REPORT RCDATA "icons\\fugue\\toolbar\\print-report.png"
IDB_TOOLBAR_ADD_DISK_IMAGE RCDATA "icons\\fugue\\toolbar\\add-disk-image.png"
IDB_TOOLBAR_SEARCH RCDATA "icons\\fugue\\toolbar\\search.png"
IDB_TOOLBAR_EDIT_DESCRIPTION RCDATA "icons\\fugue\\toolbar\\edit-description.png"
IDB_TOOLBAR_PROPERTIES RCDATA "icons\\fugue\\toolbar\\properties.png"
IDB_TOOLBAR_OPEN_EXPLORER RCDATA "icons\\fugue\\toolbar\\open-explorer.png"
IDB_TOOLBAR_VIEW_FILE RCDATA "icons\\fugue\\toolbar\\view-file.png"
IDB_TOOLBAR_VIEW_DETAILS RCDATA "icons\\fugue\\toolbar\\view-details.png"
IDB_TOOLBAR_SORT_NAME RCDATA "icons\\fugue\\toolbar\\sort-name.png"
IDB_TOOLBAR_SORT_EXTENSION RCDATA "icons\\fugue\\toolbar\\sort-extension.png"
IDB_TOOLBAR_SORT_SIZE RCDATA "icons\\fugue\\toolbar\\sort-size.png"
IDB_TOOLBAR_SORT_DATE RCDATA "icons\\fugue\\toolbar\\sort-date.png"
IDB_TOOLBAR_SORT_REVERSE RCDATA "icons\\fugue\\toolbar\\sort-reverse.png"
IDB_BROWSER_FOLDER RCDATA "icons\\fugue\\browser-items\\folder.png"
IDB_BROWSER_DOCUMENT RCDATA "icons\\fugue\\browser-items\\document.png"
IDB_BROWSER_ARCHIVE RCDATA "icons\\fugue\\browser-items\\archive.png"
IDB_BROWSER_DATABASE RCDATA "icons\\fugue\\browser-items\\database.png"
IDB_BROWSER_DRIVE RCDATA "icons\\fugue\\browser-items\\drive.png"
IDB_BROWSER_FILE_TXT RCDATA "icons\\fugue\\browser-items\\file-txt.png"
IDB_BROWSER_FILE_DOC RCDATA "icons\\fugue\\browser-items\\file-doc.png"
IDB_BROWSER_FILE_DOCX RCDATA "icons\\fugue\\browser-items\\file-docx.png"
IDB_BROWSER_FILE_RTF RCDATA "icons\\fugue\\browser-items\\file-rtf.png"
IDB_BROWSER_FILE_PDF RCDATA "icons\\fugue\\browser-items\\file-pdf.png"
IDB_BROWSER_FILE_ODT RCDATA "icons\\fugue\\browser-items\\file-odt.png"
IDB_BROWSER_FILE_XLS RCDATA "icons\\fugue\\browser-items\\file-xls.png"
IDB_BROWSER_FILE_XLSX RCDATA "icons\\fugue\\browser-items\\file-xlsx.png"
IDB_BROWSER_FILE_CSV RCDATA "icons\\fugue\\browser-items\\file-csv.png"
IDB_BROWSER_FILE_PPT RCDATA "icons\\fugue\\browser-items\\file-ppt.png"
IDB_BROWSER_FILE_PPTX RCDATA "icons\\fugue\\browser-items\\file-pptx.png"
IDB_BROWSER_FILE_PPS RCDATA "icons\\fugue\\browser-items\\file-pps.png"
IDB_BROWSER_FILE_PPSX RCDATA "icons\\fugue\\browser-items\\file-ppsx.png"
IDB_BROWSER_FILE_MDB RCDATA "icons\\fugue\\browser-items\\file-mdb.png"
IDB_BROWSER_FILE_ACCDB RCDATA "icons\\fugue\\browser-items\\file-accdb.png"
IDB_BROWSER_FILE_JPG RCDATA "icons\\fugue\\browser-items\\file-jpg.png"
IDB_BROWSER_FILE_JPEG RCDATA "icons\\fugue\\browser-items\\file-jpeg.png"
IDB_BROWSER_FILE_PNG RCDATA "icons\\fugue\\browser-items\\file-png.png"
IDB_BROWSER_FILE_GIF RCDATA "icons\\fugue\\browser-items\\file-gif.png"
IDB_BROWSER_FILE_BMP RCDATA "icons\\fugue\\browser-items\\file-bmp.png"
IDB_BROWSER_FILE_TIF RCDATA "icons\\fugue\\browser-items\\file-tif.png"
IDB_BROWSER_FILE_TIFF RCDATA "icons\\fugue\\browser-items\\file-tiff.png"
IDB_BROWSER_FILE_WEBP RCDATA "icons\\fugue\\browser-items\\file-webp.png"
IDB_BROWSER_FILE_SVG RCDATA "icons\\fugue\\browser-items\\file-svg.png"
IDB_BROWSER_FILE_ICO RCDATA "icons\\fugue\\browser-items\\file-ico.png"
IDB_BROWSER_FILE_HEIC RCDATA "icons\\fugue\\browser-items\\file-heic.png"
IDB_BROWSER_FILE_RAW RCDATA "icons\\fugue\\browser-items\\file-raw.png"
IDB_BROWSER_FILE_PSD RCDATA "icons\\fugue\\browser-items\\file-psd.png"
IDB_BROWSER_FILE_AI RCDATA "icons\\fugue\\browser-items\\file-ai.png"
IDB_BROWSER_FILE_EPS RCDATA "icons\\fugue\\browser-items\\file-eps.png"
IDB_BROWSER_FILE_MP3 RCDATA "icons\\fugue\\browser-items\\file-mp3.png"
IDB_BROWSER_FILE_WAV RCDATA "icons\\fugue\\browser-items\\file-wav.png"
IDB_BROWSER_FILE_WMA RCDATA "icons\\fugue\\browser-items\\file-wma.png"
IDB_BROWSER_FILE_AAC RCDATA "icons\\fugue\\browser-items\\file-aac.png"
IDB_BROWSER_FILE_FLAC RCDATA "icons\\fugue\\browser-items\\file-flac.png"
IDB_BROWSER_FILE_OGG RCDATA "icons\\fugue\\browser-items\\file-ogg.png"
IDB_BROWSER_FILE_M4A RCDATA "icons\\fugue\\browser-items\\file-m4a.png"
IDB_BROWSER_FILE_MID RCDATA "icons\\fugue\\browser-items\\file-mid.png"
IDB_BROWSER_FILE_MIDI RCDATA "icons\\fugue\\browser-items\\file-midi.png"
IDB_BROWSER_FILE_AIFF RCDATA "icons\\fugue\\browser-items\\file-aiff.png"
IDB_BROWSER_FILE_MP4 RCDATA "icons\\fugue\\browser-items\\file-mp4.png"
IDB_BROWSER_FILE_AVI RCDATA "icons\\fugue\\browser-items\\file-avi.png"
IDB_BROWSER_FILE_MKV RCDATA "icons\\fugue\\browser-items\\file-mkv.png"
IDB_BROWSER_FILE_MOV RCDATA "icons\\fugue\\browser-items\\file-mov.png"
IDB_BROWSER_FILE_WMV RCDATA "icons\\fugue\\browser-items\\file-wmv.png"
IDB_BROWSER_FILE_FLV RCDATA "icons\\fugue\\browser-items\\file-flv.png"
IDB_BROWSER_FILE_WEBM RCDATA "icons\\fugue\\browser-items\\file-webm.png"
IDB_BROWSER_FILE_MPEG RCDATA "icons\\fugue\\browser-items\\file-mpeg.png"
IDB_BROWSER_FILE_MPG RCDATA "icons\\fugue\\browser-items\\file-mpg.png"
IDB_BROWSER_FILE_M4V RCDATA "icons\\fugue\\browser-items\\file-m4v.png"
IDB_BROWSER_FILE_ZIP RCDATA "icons\\fugue\\browser-items\\file-zip.png"
IDB_BROWSER_FILE_RAR RCDATA "icons\\fugue\\browser-items\\file-rar.png"
IDB_BROWSER_FILE_7Z RCDATA "icons\\fugue\\browser-items\\file-7z.png"
IDB_BROWSER_FILE_TAR RCDATA "icons\\fugue\\browser-items\\file-tar.png"
IDB_BROWSER_FILE_GZ RCDATA "icons\\fugue\\browser-items\\file-gz.png"
IDB_BROWSER_FILE_BZ2 RCDATA "icons\\fugue\\browser-items\\file-bz2.png"
IDB_BROWSER_FILE_XZ RCDATA "icons\\fugue\\browser-items\\file-xz.png"
IDB_BROWSER_FILE_ISO RCDATA "icons\\fugue\\browser-items\\file-iso.png"
IDB_BROWSER_FILE_CAB RCDATA "icons\\fugue\\browser-items\\file-cab.png"
IDB_BROWSER_FILE_DMG RCDATA "icons\\fugue\\browser-items\\file-dmg.png"
IDB_BROWSER_FILE_EXE RCDATA "icons\\fugue\\browser-items\\file-exe.png"
IDB_BROWSER_FILE_MSI RCDATA "icons\\fugue\\browser-items\\file-msi.png"
IDB_BROWSER_FILE_BAT RCDATA "icons\\fugue\\browser-items\\file-bat.png"
IDB_BROWSER_FILE_CMD RCDATA "icons\\fugue\\browser-items\\file-cmd.png"
IDB_BROWSER_FILE_COM RCDATA "icons\\fugue\\browser-items\\file-com.png"
IDB_BROWSER_FILE_SCR RCDATA "icons\\fugue\\browser-items\\file-scr.png"
IDB_BROWSER_FILE_DLL RCDATA "icons\\fugue\\browser-items\\file-dll.png"
IDB_BROWSER_FILE_SYS RCDATA "icons\\fugue\\browser-items\\file-sys.png"
IDB_BROWSER_FILE_DRV RCDATA "icons\\fugue\\browser-items\\file-drv.png"
IDB_BROWSER_FILE_OCX RCDATA "icons\\fugue\\browser-items\\file-ocx.png"
IDB_BROWSER_FILE_INI RCDATA "icons\\fugue\\browser-items\\file-ini.png"
IDB_BROWSER_FILE_CFG RCDATA "icons\\fugue\\browser-items\\file-cfg.png"
IDB_BROWSER_FILE_CONF RCDATA "icons\\fugue\\browser-items\\file-conf.png"
IDB_BROWSER_FILE_LOG RCDATA "icons\\fugue\\browser-items\\file-log.png"
IDB_BROWSER_FILE_TMP RCDATA "icons\\fugue\\browser-items\\file-tmp.png"
IDB_BROWSER_FILE_BAK RCDATA "icons\\fugue\\browser-items\\file-bak.png"
IDB_BROWSER_FILE_DAT RCDATA "icons\\fugue\\browser-items\\file-dat.png"
IDB_BROWSER_FILE_DB RCDATA "icons\\fugue\\browser-items\\file-db.png"
IDB_BROWSER_FILE_SQLITE RCDATA "icons\\fugue\\browser-items\\file-sqlite.png"
IDB_BROWSER_FILE_REG RCDATA "icons\\fugue\\browser-items\\file-reg.png"
IDB_BROWSER_FILE_HTML RCDATA "icons\\fugue\\browser-items\\file-html.png"
IDB_BROWSER_FILE_HTM RCDATA "icons\\fugue\\browser-items\\file-htm.png"
IDB_BROWSER_FILE_CSS RCDATA "icons\\fugue\\browser-items\\file-css.png"
IDB_BROWSER_FILE_JS RCDATA "icons\\fugue\\browser-items\\file-js.png"
IDB_BROWSER_FILE_JSON RCDATA "icons\\fugue\\browser-items\\file-json.png"
IDB_BROWSER_FILE_XML RCDATA "icons\\fugue\\browser-items\\file-xml.png"
IDB_BROWSER_FILE_YAML RCDATA "icons\\fugue\\browser-items\\file-yaml.png"
IDB_BROWSER_FILE_YML RCDATA "icons\\fugue\\browser-items\\file-yml.png"
IDB_BROWSER_FILE_PHP RCDATA "icons\\fugue\\browser-items\\file-php.png"
IDB_BROWSER_FILE_ASP RCDATA "icons\\fugue\\browser-items\\file-asp.png"
IDB_BROWSER_FILE_PY RCDATA "icons\\fugue\\browser-items\\file-py.png"
IDB_BROWSER_FILE_JAVA RCDATA "icons\\fugue\\browser-items\\file-java.png"
IDB_BROWSER_FILE_CLASS RCDATA "icons\\fugue\\browser-items\\file-class.png"
IDB_BROWSER_FILE_C RCDATA "icons\\fugue\\browser-items\\file-c.png"
IDB_BROWSER_FILE_CPP RCDATA "icons\\fugue\\browser-items\\file-cpp.png"
IDB_BROWSER_FILE_H RCDATA "icons\\fugue\\browser-items\\file-h.png"
IDB_BROWSER_FILE_CS RCDATA "icons\\fugue\\browser-items\\file-cs.png"
IDB_BROWSER_FILE_RB RCDATA "icons\\fugue\\browser-items\\file-rb.png"
IDB_BROWSER_FILE_GO RCDATA "icons\\fugue\\browser-items\\file-go.png"
IDB_BROWSER_FILE_SH RCDATA "icons\\fugue\\browser-items\\file-sh.png"

