#include "resource.h"
#include <windows.h>
IDI_APPICON ICON "app.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Catalog\tCtrl+N", ID_FILE_NEWCATALOG
        MENUITEM "&Open\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVEAS
        MENUITEM "Rebuild catalog &database", ID_FILE_REBUILD_DATABASE
        MENUITEM "&Close", ID_FILE_CLOSE
        MENUITEM "Catalog &Info", ID_FILE_CATALOG_INFO
        MENUITEM "&Report Generator", ID_FILE_REPORT_GENERATOR
        MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Add/Update Disk Image\tCtrl+D", ID_EDIT_ADDDISKIMAGE
        MENUITEM "&Catalog Manager", ID_EDIT_CATALOG_MANAGER
        MENUITEM "Catalog Set&up", ID_EDIT_CATALOG_SETUP
    END
    POPUP "&Search"
    BEGIN
        MENUITEM "&Find...", ID_SEARCH_FIND
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END

IDR_MAINACCEL ACCELERATORS
BEGIN
    "N", ID_FILE_NEWCATALOG, VIRTKEY, CONTROL
    "D", ID_EDIT_ADDDISKIMAGE, VIRTKEY, CONTROL
END

IDD_NEW_CATALOG DIALOGEX 0, 0, 240, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Catalog"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Catalog name:", IDC_STATIC, 7, 9, 226, 10
    EDITTEXT IDC_CATALOG_NAME, 7, 23, 226, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 126, 53, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 183, 53, 50, 14
END
