#include "resource.h"
#include <windows.h>
IDI_APPICON ICON "app.ico"
IDB_TOOLBAR_NEW_CATALOG RCDATA "toolbar\\fugue\\document.png"
IDB_TOOLBAR_OPEN RCDATA "toolbar\\fugue\\folder-horizontal-open.png"
IDB_TOOLBAR_SAVE RCDATA "toolbar\\fugue\\disk.png"
IDB_TOOLBAR_REPORT RCDATA "toolbar\\fugue\\printer.png"
IDB_TOOLBAR_ADD_DISK_IMAGE RCDATA "toolbar\\fugue\\drive--arrow.png"
IDB_TOOLBAR_SEARCH RCDATA "toolbar\\fugue\\magnifier-left.png"
IDB_TOOLBAR_EDIT_DESCRIPTION RCDATA "toolbar\\fugue\\document--pencil.png"
IDB_TOOLBAR_PROPERTIES RCDATA "toolbar\\fugue\\application-detail.png"
IDB_TOOLBAR_OPEN_EXPLORER RCDATA "toolbar\\fugue\\folder-horizontal-open.png"
IDB_TOOLBAR_VIEW_FILE RCDATA "toolbar\\fugue\\blue-document-view.png"
IDB_TOOLBAR_VIEW_DETAILS RCDATA "toolbar\\fugue\\application-list.png"
IDB_TOOLBAR_SORT_NAME RCDATA "toolbar\\fugue\\sort-alphabet.png"
IDB_TOOLBAR_SORT_EXTENSION RCDATA "toolbar\\fugue\\document-attribute.png"
IDB_TOOLBAR_SORT_SIZE RCDATA "toolbar\\fugue\\sort-number.png"
IDB_TOOLBAR_SORT_DATE RCDATA "toolbar\\fugue\\sort-date.png"
IDB_TOOLBAR_SORT_REVERSE RCDATA "toolbar\\fugue\\arrow-switch.png"
IDB_BROWSER_FOLDER RCDATA "toolbar\\fugue\\folder.png"
IDB_BROWSER_DOCUMENT RCDATA "toolbar\\fugue\\document.png"
IDB_BROWSER_ARCHIVE RCDATA "toolbar\\fugue\\vise-drawer.png"
IDB_BROWSER_DATABASE RCDATA "toolbar\\fugue\\database-sql.png"
IDB_BROWSER_DRIVE RCDATA "toolbar\\fugue\\drive.png"
IDB_BROWSER_PHP RCDATA "toolbar\\fugue\\php.png"
IDB_BROWSER_HTML RCDATA "toolbar\\fugue\\html.png"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Catalog\tCtrl+N", ID_FILE_NEWCATALOG
        MENUITEM "&Open\tCtrl+O", ID_WIT_FILE_OPEN
        POPUP "Open &Recent"
        BEGIN
            MENUITEM "(No recent catalogs)", ID_FILE_RECENT_FIRST, GRAYED
        END
        MENUITEM "&Save\tCtrl+S", ID_WIT_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVEAS
        MENUITEM "Save &All Catalogs", ID_FILE_SAVE_ALL_CATALOGS_PLACEHOLDER
        MENUITEM "Import &XML", ID_FILE_IMPORT_XML_PLACEHOLDER
        MENUITEM "Rebuild Catalog &Database", ID_FILE_REBUILD_DATABASE
        MENUITEM "&Close", ID_WIT_FILE_CLOSE
        MENUITEM "Close A&ll", ID_FILE_CLOSE_ALL_PLACEHOLDER
        MENUITEM "Catalogs &Info", ID_FILE_CATALOG_INFO
        MENUITEM SEPARATOR
        MENUITEM "&Report Generator\tCtrl+R", ID_FILE_REPORT_GENERATOR
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Add/Update Disk Image\tCtrl+D", ID_EDIT_ADDDISKIMAGE
        MENUITEM SEPARATOR
        MENUITEM "&Catalog Manager", ID_EDIT_CATALOG_MANAGER
        MENUITEM "Catalog Set&up", ID_EDIT_CATALOG_SETUP
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Sort items", ID_VIEW_SORT_ITEMS
        MENUITEM SEPARATOR
        MENUITEM "View &Icons", ID_VIEW_ICONS
        MENUITEM "View &List", ID_VIEW_LIST
        MENUITEM "View S&mall Icons", ID_VIEW_SMALL_ICONS
        MENUITEM "View &Details", ID_VIEW_DETAILS
        MENUITEM "View &Thumbnails", ID_VIEW_THUMBNAILS
        MENUITEM "&Columns Setup", ID_VIEW_COLUMNS_SETUP
        MENUITEM SEPARATOR
        MENUITEM "Show &Alias Item Names", ID_VIEW_SHOW_ALIAS_NAMES
        MENUITEM "Locate in Catalo&g", ID_VIEW_LOCATE_IN_CATALOG
        MENUITEM "Tool&bar", ID_WIT_VIEW_TOOLBAR
        MENUITEM "Status Ba&r", ID_WIT_VIEW_STATUS_BAR
    END
    POPUP "&Search"
    BEGIN
        MENUITEM "&Search for Items\tCtrl+F", ID_SEARCH_FOR_ITEMS
        MENUITEM "&Find in This Catalog", ID_SEARCH_FIND_IN_CATALOG
        MENUITEM "Find Selected &Items", ID_SEARCH_FIND_SELECTED_ITEMS
        MENUITEM "Scan for &Duplicates", ID_SEARCH_SCAN_DUPLICATES
        MENUITEM SEPARATOR
        MENUITEM "Compare to &Media", ID_SEARCH_COMPARE_MEDIA
        MENUITEM "Compare &Files to Catalog", ID_SEARCH_COMPARE_FILES_TO_CATALOG
        MENUITEM "Compare Cataloged &Data", ID_SEARCH_COMPARE_CATALOGED_DATA
    END
    POPUP "&Actions"
    BEGIN
        MENUITEM "Open in &Explorer", ID_ACTIONS_OPEN_EXPLORER
        MENUITEM "&View File\tCtrl+I", ID_ACTIONS_VIEW_FILE
        MENUITEM "&Launch File", ID_ACTIONS_LAUNCH_FILE
        MENUITEM "Edit &Description\tCtrl+E", ID_ACTIONS_EDIT_DESCRIPTION
        MENUITEM "&User List", ID_ACTIONS_USER_LIST
        MENUITEM "&Rename Catalog", ID_ACTIONS_RENAME_CATALOG
        MENUITEM "Remove &Alias Name", ID_ACTIONS_REMOVE_ALIAS_NAME
        MENUITEM SEPARATOR
        MENUITEM "File Mana&gement", ID_ACTIONS_FILE_MANAGEMENT
        MENUITEM "Remove from &Catalog", ID_ACTIONS_REMOVE_FROM_CATALOG
        MENUITEM "Remove Archive C&ontents", ID_ACTIONS_REMOVE_ARCHIVE_CONTENTS
        MENUITEM "Remove &Thumbnail", ID_ACTIONS_REMOVE_THUMBNAIL
        MENUITEM SEPARATOR
        MENUITEM "&Properties\tCtrl+P", ID_ACTIONS_PROPERTIES
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&General Settings", ID_OPTIONS_GENERAL_SETTINGS
        MENUITEM "&User Interface Setup", ID_OPTIONS_USER_INTERFACE_SETUP
        MENUITEM "&File List Settings", ID_OPTIONS_FILE_LIST_SETTINGS
        MENUITEM "&Disk Image Settings", ID_OPTIONS_DISK_IMAGE_SETTINGS
        MENUITEM "D&escription Settings", ID_OPTIONS_DESCRIPTION_SETTINGS
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Next Window\tCtrl+F6", ID_WINDOW_NEXT_PLACEHOLDER
        MENUITEM "&Search Window", ID_WINDOW_SEARCH_PLACEHOLDER
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help\tF1", ID_HELP_CONTENTS_PLACEHOLDER
        MENUITEM "&About", ID_HELP_ABOUT
    END
END

IDR_MAINACCEL ACCELERATORS
BEGIN
    "N", ID_FILE_NEWCATALOG, VIRTKEY, CONTROL
    "O", ID_WIT_FILE_OPEN, VIRTKEY, CONTROL
    "S", ID_WIT_FILE_SAVE, VIRTKEY, CONTROL
    "R", ID_FILE_REPORT_GENERATOR, VIRTKEY, CONTROL
    "D", ID_EDIT_ADDDISKIMAGE, VIRTKEY, CONTROL
    "F", ID_SEARCH_FOR_ITEMS, VIRTKEY, CONTROL
    VK_F3, ID_SEARCH_FOR_ITEMS, VIRTKEY
    "E", ID_ACTIONS_EDIT_DESCRIPTION, VIRTKEY, CONTROL
    "P", ID_ACTIONS_PROPERTIES, VIRTKEY, CONTROL
    VK_RETURN, ID_ACTIONS_PROPERTIES, VIRTKEY, ALT
    VK_F4, ID_ACTIONS_PROPERTIES, VIRTKEY
    "I", ID_ACTIONS_VIEW_FILE, VIRTKEY, CONTROL
END

IDD_GENERAL_SETTINGS DIALOGEX 0, 0, 300, 104
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "General Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Display", IDC_WIT_STATIC, 7, 9, 286, 10
    CONTROL "Show status bar", IDC_SHOW_STATUS_BAR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 24, 120, 12
    LTEXT "Last opened catalog", IDC_WIT_STATIC, 7, 47, 286, 10
    EDITTEXT IDC_LAST_OPENED_CATALOG, 12, 59, 281, 14, ES_AUTOHSCROLL | ES_READONLY
    DEFPUSHBUTTON "OK", IDOK, 186, 83, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 243, 83, 50, 14
END

IDD_SEARCH_ITEMS DIALOGEX 0, 0, 570, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search for Items"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "File or folder name contains:", IDC_WIT_STATIC, 7, 10, 125, 10
    EDITTEXT IDC_SEARCH_NAME, 135, 7, 352, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Search", IDC_SEARCH_EXECUTE, 493, 7, 70, 14
    LTEXT "Enter part of a file or folder name to search.", IDC_SEARCH_SUMMARY, 7, 29, 556, 10
    CONTROL "", IDC_SEARCH_RESULTS, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0001 | 0x1000, 7, 44, 556, 228
    PUSHBUTTON "Close", IDCANCEL, 493, 279, 70, 14
END

IDD_ADD_NEW_DISK_MEDIA DIALOGEX 0, 0, 282, 244
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add New Disk/Media"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "C:", IDC_MEDIA_DRIVE_1, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_GROUP | WS_TABSTOP, 6, 5, 24, 22
    CONTROL "D:", IDC_MEDIA_DRIVE_2, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 33, 5, 24, 22
    CONTROL "E:", IDC_MEDIA_DRIVE_3, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 60, 5, 24, 22
    CONTROL "F:", IDC_MEDIA_DRIVE_4, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 87, 5, 24, 22
    CONTROL "G:", IDC_MEDIA_DRIVE_5, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 114, 5, 24, 22
    CONTROL "H:", IDC_MEDIA_DRIVE_6, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 141, 5, 24, 22
    CONTROL "ISO", IDC_MEDIA_ISO, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 168, 5, 24, 22
    CONTROL "NET", IDC_MEDIA_NETWORK, "Button", BS_CHECKBOX | BS_PUSHLIKE | WS_TABSTOP, 195, 5, 24, 22
    LTEXT "#:", IDC_WIT_STATIC, 6, 31, 22, 8
    LTEXT "Disk name:", IDC_WIT_STATIC, 54, 31, 62, 8
    EDITTEXT IDC_MEDIA_NUMBER, 6, 40, 42, 12, ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT IDC_MEDIA_NAME, 54, 40, 112, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Catalog:", IDC_WIT_STATIC, 171, 31, 45, 8
    COMBOBOX IDC_MEDIA_CATALOG, 171, 40, 105, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Update Mode", IDC_MEDIA_UPDATE_MODE, 6, 58, 85, 14, WS_DISABLED | WS_TABSTOP
    CONTROL "Folder limitations", IDC_MEDIA_FOLDER_LIMITATIONS, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 98, 60, 86, 10
    PUSHBUTTON "Active Plugins", IDC_MEDIA_ACTIVE_PLUGINS, 191, 58, 85, 14, WS_DISABLED | WS_TABSTOP
    GROUPBOX "Disk Image Settings", IDC_WIT_STATIC, 6, 75, 270, 99
    CONTROL "Browse inside compressed files (ZIP, ARJ, RAR, 7Z...)", IDC_MEDIA_BROWSE_ARCHIVES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 87, 248, 8
    CONTROL "Do not catalog archive file contents, just check for descriptions", IDC_MEDIA_ARCHIVE_DESCRIPTIONS_ONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 99, 252, 8
    CONTROL "Skip re-scanning unchanged archive files when updating", IDC_MEDIA_SKIP_UNCHANGED_ARCHIVES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 111, 252, 8
    CONTROL "Allow importing descriptions for files compressed inside archives", IDC_MEDIA_IMPORT_ARCHIVE_DESCRIPTIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 123, 252, 8
    CONTROL "Calculate CRC codes for all scanned files", IDC_MEDIA_CALCULATE_CRC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 137, 248, 8
    CONTROL "Import existing descriptions from other disks in the catalog", IDC_MEDIA_IMPORT_EXISTING_DESCRIPTIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 149, 260, 8
    CONTROL "Ask for media description when scanning completes", IDC_MEDIA_ASK_DESCRIPTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 161, 248, 8
    CONTROL "Eject media when finished (if supported by drive)", IDC_MEDIA_EJECT_WHEN_FINISHED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 178, 260, 8
    CONTROL "Auto-save the catalog after each completed scanning", IDC_MEDIA_AUTO_SAVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 190, 260, 8
    CONTROL "Re-display this dialog when scanning is complete", IDC_MEDIA_REDISPLAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 202, 260, 8
    PUSHBUTTON "Settings", IDC_MEDIA_SETTINGS, 6, 215, 48, 14, WS_DISABLED | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 111, 215, 42, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 159, 215, 48, 14, WS_TABSTOP
    PUSHBUTTON "Troubleshooting", IDC_MEDIA_TROUBLESHOOTING, 213, 215, 63, 14, WS_DISABLED | WS_TABSTOP
    LTEXT "No drive selected", IDC_MEDIA_STATUS, 6, 233, 270, 8
END

IDD_SCAN_PROGRESS DIALOGEX 0, 0, 196, 84
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Scanning Disk/Media"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Scanning files and folders...", IDC_SCAN_STATUS, 10, 10, 176, 10
    LTEXT "Files scanned:", IDC_WIT_STATIC, 10, 30, 70, 10
    LTEXT "0", IDC_SCAN_FILES, 93, 30, 90, 10
    LTEXT "Folders scanned:", IDC_WIT_STATIC, 10, 46, 70, 10
    LTEXT "0", IDC_SCAN_FOLDERS, 93, 46, 90, 10
    PUSHBUTTON "Cancel", IDCANCEL, 136, 63, 50, 14, WS_TABSTOP
END
